<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Listado de items para comerciar</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span>Introduce el objeto que quieres buscar</span>
            <div class="ui-inputgroup">
                <button pButton type="button" label="Search"></button>
                <input type="text" pInputText placeholder="Keyword" (keyUp)="searchItem()">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngFor="let array of listItems">
                <div *ngFor="let stash of array">
                    {{item | json}}
                    <div *ngFor="let item of stash.items" >
                        <div class="row">

                        
                        <div *ngFor="let a of item">
                            <div class="col3" *ngIf="a.extended.category ==='weapons' ">
                                    <p-card header="{{a.name}}" subheader="{{a.note}}" [style]="{width: '360px'}"
                                    styleClass="ui-card-shadow">
                                    <p-header>
                                        <img src="Card" src="{{a.icon}}" style="width: 80px;height: 80px;">
                                    </p-header>
                                </p-card>
                            </div>
                        </div></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>